@model OrderCreateRequest
@{
    var cart = Context.Session.GetObjectFromJson<List<CartItemViewModel>>("CartSessionKey");
    var total = (cart != null) ? cart.Sum(item => item.Product.Price * item.Quantity) : 0;
    var NumItem = (cart != null) ? cart.Sum(x => x.Quantity) : 0;
    ViewData["Header"] = "header--2";
    ViewData["Image-logo"] = "/assets/images/logo-2.png";
    var promotionPrice = 0;
    if (ViewBag.PromotionId != null)
    {
        promotionPrice = ViewBag.PromotionPrice;
    }
}
@section Header{

    <link href="~/lib/select2/css/select2.css" rel="stylesheet" />
    <link href="~/lib/select2-bootstrap-theme/select2-bootstrap.css" rel="stylesheet" />
}
<div class="ps-section--hero">
    <img src="/assets/images/hero/01.jpg" alt="">
    <div class="ps-section__content text-center">
        <h3 class="ps-section__title">OUR BAKERY</h3>
        <div class="ps-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">About Us</li>
            </ol>
        </div>
    </div>
</div>
<div class="ps-section--checkout pt-80 pb-80">
    <div class="container">
        <form class="ps-checkout payment-form" asp-action="order" asp-controller="Checkout" method="post" id="payment-form">
            @*<input type="hidden" name="stripeToken" value="" id="stripeToken"/>*@
            <div class="row">
                @if (ViewBag.UserInfo != null)
                {
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__billing">
                            <h3>Billing Detail</h3>
                            <div class="row">
                                <input type="hidden" asp-for="PromotionId" value="@ViewBag.PromotionId" />
                                <input type="hidden" asp-for="Total" value="@(total-promotionPrice)" />
                                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
                                <div class="form-group mr-15 ml-15">
                                    <label>Full Name <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="Full Name" asp-for="ShipName" class="form-control" value="@ViewBag.UserInfo.FullName" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Phone Number <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="Phone Number" asp-for="ShipPhone" class="form-control" value="@ViewBag.UserInfo.Phone" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email Address <span class="text-danger">*</span></label>
                                    <input type="email" placeholder="Email Address" asp-for="ShipEmail" class="form-control" value="@ViewBag.UserInfo.Email" required="">
                                </div>
                                <div class="form-group  mr-15 ml-15">
                                    <label>Address <span class="text-danger">*</span></label>
                                    <select class="js-example-basic-single form-control" id="shipAddress" asp-for="ShipAddress">
                                        @*<option>Select Address</option>*@
                                        @if (@ViewBag.UserInfo != null)
                                        {
                                            <option selected='selected' value="@ViewBag.UserInfo.Address">@ViewBag.UserInfo.Address</option>
                                        }

                                    </select>
                                </div>
                                <div class="form-group  mr-15 ml-15">
                                    <label>Street <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="Street" asp-for="Street" class="form-control" value="" required="">
                                </div>
                                <div class="form-group col-xl-12 mb-0 mr-15 ml-15">
                                    <label>Order Notes</label>
                                    <textarea asp-for="OrderNotes" rows="5" class="form-control" placeholder="Order Notes (Optional)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                        <div class="ps-checkout__billing">
                            <h3>Billing Detail</h3>
                            <div class="row">
                                <input type="hidden" asp-for="PromotionId" value="@ViewBag.PromotionId" />
                                <input type="hidden" asp-for="Total" value="@(total-promotionPrice)" />
                                <input type="hidden" asp-for="UserId" value="@ViewBag.UserId" />
                                <div class="form-group mr-15 ml-15">
                                    <label>Full Name <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="Full Name" asp-for="ShipName" class="form-control" value="" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Phone Number <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="Phone Number" asp-for="ShipPhone" class="form-control" value="" required="">
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Email Address <span class="text-danger">*</span></label>
                                    <input type="email" placeholder="Email Address" asp-for="ShipEmail" class="form-control" value="" required="">
                                </div>
                                <div class="form-group  mr-15 ml-15">
                                    <label>Address <span class="text-danger">*</span></label>
                                    <select class="js-example-basic-single form-control" asp-for="ShipAddress">
                                        <option>Select Address</option>
                                    </select>
                                </div>
                                <div class="form-group  mr-15 ml-15">
                                    <label>Street <span class="text-danger">*</span></label>
                                    <input type="text" placeholder="Street" asp-for="Street" class="form-control" value="" required="">
                                </div>

                                <div class="form-group col-xl-12 mb-0 mr-15 ml-15">
                                    <label>Order Notes</label>
                                    <textarea asp-for="OrderNotes" rows="5" class="form-control" placeholder="Order Notes (Optional)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <div class="ps-checkout__order">
                        <h3>Your Order</h3>
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="text-uppercase">Product</th>
                                    <th class="text-uppercase">Quantity</th>
                                    <th class="text-uppercase">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.cart != null)
                                {
                                    @foreach (var item in cart)
                                    {
                                        <tr>
                                            <td> <strong>@item.Product.Name</strong> </td>
                                            <td>@string.Concat("x", @item.Quantity)</td>
                                            <td><strong>@string.Format("{0:C}", item.Product.Price * item.Quantity)</strong></td>
                                        </tr>
                                    }
                                }
                                <tr style="border-top: 2px solid black;">
                                    <td></td>
                                    <td></td>
                                    <td><strong>@string.Format("{0:C}", total)</strong></td>
                                </tr>
                                @if (ViewBag.PromotionId != 0)
                                {
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td><strong>-@string.Format("{0:C}", (ViewBag.PromotionPrice!=null? ViewBag.PromotionPrice:0))</strong></td>
                                    </tr>
                                    <tr>
                                        <td class="text-uppercase"><strong>Order Total</strong></td>
                                        <td></td>
                                        <td><strong>@string.Format("{0:C}", total - (ViewBag.PromotionPrice != null ? ViewBag.PromotionPrice : 0))</strong></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        <h3 style="padding-top: 60px">Payment Method</h3>
                        <div class="group-tabs">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class=" active stripeclass"><a href="#stripe" aria-controls="stripe" role="tab" data-toggle="tab">Payment with stripe</a></li>
                                <li role="presentation" class=" default"><a href="#default" aria-controls="default" role="tab" data-toggle="tab">Payment on delivery</a></li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane  mt-15 mb-15" id="default">
                                    <button type="submit" class="ps-btn ps-btn--sm">Place Order</button>
                                </div>
                                <div role="tabpanel" class="tab-pane active mt-15 mb-15" id="stripe">
                                        <div class="form-row">
                                            <label for="card-element mt-15 mb-15">
                                                Credit or debit card
                                            </label>
                                            <div id="card-element">
                                                <!-- A Stripe Element will be inserted here. -->
                                            </div>

                                            <!-- Used to display form errors. -->
                                            <div id="card-errors" role="alert"></div>
                                        </div>
                                        <div class="text-center mt-15 mb-15">
                                            <button type="submit" class="btn btn-primary">Submit Payment</button>
                                        </div>
                                </div>
                               
                            </div>
                        </div>
                        @*<div class="form-group">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="payment" value="0">Cheque Payment
                                </label>
                            </div>
                            <p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="payment" value="1">PAYPAL
                                </label>
                                <div class="card-list"></div>
                            </div>
                        </div>*@

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2({
                theme: "bootstrap",
                ajax: {
                    url: '/checkout/getlocation',
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        return {
                            keyword: params.term,
                        };
                    },
                    processResults: function (data, params) {
                        return {
                            results: $.map(data.predictions, function (item) {
                                return {
                                    text: item.description,
                                    id: item.description,
                                }
                            })
                        };
                    },
                    cache: true
                },
                escapeMarkup: function (markup) {
                    return markup;
                },
                minimumInputLength: 3,
            });

        });


    </script>

    @*<script src="~/lib/select2/js/select2.min.js"></script>*@
    <script src="~/lib/select2/js/select2.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    @*<script>
        $(document).ready(function(){
            $(".default").click(function(){
                $('.ps-checkout').attr('id','');
                $('#stripe').children().remove();
            });
         $(".stripeclass").click(function(){
                $('.ps-checkout').attr('id','payment-form');
                $('#stripe').append(
        `<div class="form-row">
            <label for="card-element mt-15 mb-15">
                Credit or debit card
            </label>
            <div id="card-element">
                <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display form errors. -->
            <div id="card-errors" role="alert"></div>
         </div>
         <div class="text-center mt-15 mb-15">
             <button type="submit" class="btn btn-primary">Submit Payment</button>
         </div>`
             );
             var stripe = Stripe('pk_test_51GzafRL8yRIwZZ6Woi4s42t5iepvblt1cON9ATbiqtbcZurXfDZHiDek49tZi50PSBrstNKcynWPMjoDRhhWr2ls00ya9lveNE');

             // Create an instance of Elements.
             var elements = stripe.elements();
             var style = {
                 base: {
                     color: '#32325d',
                     fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                     fontSmoothing: 'antialiased',
                     fontSize: '16px',
                     '::placeholder': {
                         color: '#aab7c4'
                     }
                 },
                 invalid: {
                     color: '#fa755a',
                     iconColor: '#fa755a'
                 }
             };

             // Create an instance of the card Element.
             var card = elements.create('card', { style: style });

             // Add an instance of the card Element into the `card-element` <div>.
             card.mount('#card-element');

             // Handle real-time validation errors from the card Element.
             card.on('change', function (event) {
                 var displayError = document.getElementById('card-errors');
                 if (event.error) {
                     displayError.textContent = event.error.message;
                 } else {
                     displayError.textContent = '';
                 }
             });
            });
        });
    </script>*@
    <script>
        var stripe = Stripe('pk_test_51GzafRL8yRIwZZ6Woi4s42t5iepvblt1cON9ATbiqtbcZurXfDZHiDek49tZi50PSBrstNKcynWPMjoDRhhWr2ls00ya9lveNE');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', { style: style });

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.on('change', function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function (event) {
            event.preventDefault();

            stripe.createToken(card)
                .then(function (result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
                })
                .catch(function(reason) {
                    console.log(reason)
            });;
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);
            // Submit the form
            form.submit();
        }
    </script>
}