
@{
    ViewData["Header"] = "header--2";
    ViewData["Image-logo"] = "/assets/images/logo-2.png";
    var blog = (BlogViewModel)ViewData["blog"];
    var comments = (List<CommentViewModel>)ViewData["comments"];
}

<div class="ps-section--hero">
    <img src="/assets/images/hero/01.jpg" alt="">
    <div class="ps-section__content text-center">
        <h3 class="ps-section__title">OUR BAKERY</h3>
        <div class="ps-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blogs</li>
            </ol>
        </div>
    </div>
</div>
<div class="ps-section--page-reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                <div class="ps-blog-detail pt-80 pb-80">
                    <div class="ps-post">
                        <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="blog-detail.html"></a><img src="@blog.ImagePath" alt=""></div>
                        <div class="ps-post__header">
                            <a class="ps-post__title" href="blog-detail.html">@blog.Title</a>
                            <div class="ps-post__meta"><span><i class="fa fa-calendar-check-o"></i>@blog.Created_At.ToShortDateString()</span><span><i class="fa fa-comment-o"></i>24 Comments</span><span class="tags"><i class="fa fa-tags"></i><a href="blog-listing.html">Travel</a><a href="blog-listing.html">Summer</a><a href="blog-listing.html">Women</a></span></div>
                        </div>
                        <div class="ps-post__content">
                            @blog.Content
                        </div>
                        <footer class="ps-post__footer">
                            <div class="row">
                                <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="ps-post__tags"><i class="fa fa-tags"></i><a href="blog-listing.html">@blog.CategoryName</a></div>
                                </div>
                                <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12 ">
                                    <div class="ps-post__action"><a class="like" data-id="@blog.Id" data-like="@blog.LikeCount" href="#">Like<i class="fa fa-heart"></i><span><i>@blog.LikeCount</i></span></a><a class="facebook" href="#"><i class="fa fa-facebook"></i>Share</a><a class="twitter" href="#"><i class="fa fa-twitter"></i>Tweet</a></div>
                                </div>
                            </div>
                        </footer>
                    </div>
                    <!-- Comment-->
                    <div class="ps-blog-comment">
                        @if (comments != null)
                        {
                            <h3>Comments(@comments.Count)</h3>
                            foreach (var comment in comments)
                            {
                                <div class="ps-comment">
                                    <div class="ps-comment-box">
                                        <div class="ps-comment-box__thumbnail"><img src="@comment.ImagePath" alt=""></div>
                                        <div class="ps-comment-box__content">
                                            <div class="row">
                                                <div class="col-lg-10">
                                                    <h4>
                                                        @comment.UserName<span>15 minutes ago</span>
                                                    </h4>
                                                </div>
                                                @if (comment.UserName == ViewBag.UserName)
                                                {
                                                    <div class="col-lg-2 dropdown show">
                                                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-cog" aria-hidden="true"></i>
                                                        </a>

                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                            <a class="dropdown-item editComment" style="margin-right: 20px;" data-id="@comment.Id" href="#">Edit</a>
                                                            <a class="dropdown-item" style="margin-right: 28px;" href="/blog/deleteComment/@blog.Id/@comment.Id">Delete</a>
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <form asp-controller="blog" asp-action="EditComment" class="hide" asp-route-commentId="@comment.Id" id="@string.Concat("editForm",comment.Id.ToString())" method="post">
                                                <input type="hidden" name="BlogId" value="@blog.Id" />
                                                <div class="form-group">
                                                    <textarea id="@string.Concat("textArea",comment.Id.ToString())"  data-id="@comment.Id" class="form-control textArea" name="Content" placeholder="" rows="6">@comment.Content</textarea>
                                                </div>
                                                @*<div class="form-group">
                                                    <button type="submit" class="ps-btn ps-btn--sm ps-contact__submit">Submit</button>
                                                </div>*@
                                            </form>
                                            <p id="@string.Concat("commentContent",comment.Id.ToString())">@comment.Content</p>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                        @if (ViewBag.IsLogged == true)
                        {
                            <div class="ps-comment">
                                <div class="ps-comment-box">
                                    <h4>Comment</h4>
                                    <form asp-controller="blog" asp-action="Comment" method="post">
                                        <input type="hidden" name="BlogId" value="@blog.Id" />
                                        <div class="form-group">
                                            <textarea class="form-control" name="Content" placeholder="" rows="6"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="ps-btn ps-btn--sm ps-contact__submit">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="ps-sidebar">
                    <aside class="ps-widget ps-widget--sidebar ps-widget--search">
                        <form method="post" action="http://nouthemes.net/html/bakery/search-result.html">
                            <input class="form-control" type="text" placeholder="Type here bakery name...">
                            <button type="submit"><i class="ps-icon--search"></i></button>
                        </form>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--category">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">Category</h3>
                        </div>
                        <div class="ps-widget__content">
                            <ul class="ps-list--arrow">
                                <li class="current"><a href="product-listing.html"><span class="circle"></span>All bakery (321)</a></li>
                                <li><a href="product-listing.html"><span class="circle"></span>Amazin’ Glazin’</a></li>
                                <li><a href="product-listing.html"><span class="circle"></span>The Crusty Croissant</a></li>
                                <li><a href="product-listing.html"><span class="circle"></span>The Rolling Pin</a></li>
                                <li><a href="product-listing.html"><span class="circle"></span>Skippity Scones</a></li>
                                <li><a href="product-listing.html"><span class="circle"></span>Mad Batter</a></li>
                                <li><a href="product-listing.html"><span class="circle"></span>Confection Connection</a></li>
                            </ul>
                        </div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--ads">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">Ads Banner</h3>
                        </div>
                        <div class="ps-widget__content"><img src="images/widget/banner2x.png" alt=""></div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--recent-post">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">Recent Post</h3>
                        </div>
                        <div class="ps-widget__content">
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="images/blog/thumbnail1.jpg" alt=""></div>
                                <div class="ps-post__content"><a href="#" data-number-line="2">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2015</span></div>
                            </div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="images/blog/thumbnail2.jpg" alt=""></div>
                                <div class="ps-post__content"><a href="#" data-number-line="2">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2015</span></div>
                            </div>
                            <div class="ps-post ps-post--sidebar">
                                <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="images/blog/thumbnail3.jpg" alt=""></div>
                                <div class="ps-post__content"><a href="#" data-number-line="2">Micenas Placerat Nibh Loreming Fentum</a><span>SEP 29, 2015</span></div>
                            </div>
                        </div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--tags">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">TAGS</h3>
                        </div>
                        <div class="ps-widget__content">
                            <ul class="ps-tags">
                                <li><a href="#">Cupcake</a></li>
                                <li><a href="#">vanila</a></li>
                                <li><a href="#">sugar flower</a></li>
                                <li><a href="#">vanila</a></li>
                                <li><a href="#">coconut</a></li>
                                <li><a href="#">vanila</a></li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>    
<partial name="../Shared/_Partner.cshtml">
    <partial name="../Shared/_Subscribe.cshtml">
        <partial name="../Shared/_Footer.cshtml" />
        @section Scripts{
            <script>
                $(document).ready(function () {
                    $('.editComment').click(function (e) {
                        e.preventDefault();
                        var id = $(this).attr("data-id");
                        $("#editForm" + id).removeClass("hidden").addClass("show");
                        $("#textArea" + id).focus();
                        $("#commentContent" + id).addClass("hidden");
                    });
                    $(".textArea").blur(function () {
                        var id = $(this).attr("data-id");
                        $("#editForm" + id).removeClass("show").addClass("hidden");
                        $("#commentContent" + id).addClass("show").removeClass("hidden");
                    });
                    $(".textArea").keypress(function (e) {
                        var id = $(this).attr("data-id");
                        if (e.which == 13 && !e.shiftKey) {
                            $("#editForm" + id).submit();
                            e.preventDefault();
                        }
                    });
                });
            </script>
            <script>
                $(document).ready(function () {
                    var flag = true;

                    $('.like').click(function (e) {
                        e.preventDefault();
                        var likeCount = $(this).attr("data-like");
                        var id = $(this).attr("data-id");
                        if (flag == true) {
                            var newLikeCount = (parseInt(likeCount) + 1);
                            like();
                        }
                        else {
                            var newLikeCount = (parseInt(likeCount) - 1)
                            Dislike();
                        }
                        $(this).attr("data-like", newLikeCount);
                        $(this).children().remove();
                        $(this).append('<i class="fa fa-heart"></i><span><i>' + newLikeCount + '</i></span>')
                        flag = !flag;
                        function like() {
                            $.ajax({
                                type: "get",
                                url: "https://localhost:5001/api/blogs/" + id + "/like",
                                dataType: "json",
                                success: function (res) {
                                    console.log(res);
                                }
                            });
                        }
                        function Dislike() {
                            $.ajax({
                                type: "get",
                                url: "https://localhost:5001/api/blogs/" + id + "/dislike",
                                dataType: "json",
                                success: function (res) {
                                    console.log(res);
                                }
                            });
                        }
                    });

                });
            </script>
        }
