@model PageViewModel<BlogViewModel>;
@{
    ViewData["Header"] = "header--2";
    ViewData["Image-logo"] = "/assets/images/logo-2.png";
    var blogs = (List<BlogViewModel>)ViewData["blogs"];
    var categories = (List<CategoryViewModel>)ViewData["categories"];
}
<div class="ps-section--hero">
    <img src="/assets/images/hero/01.jpg" alt="">
    <div class="ps-section__content text-center">
        <h3 class="ps-section__title">OUR BAKERY</h3>
        <div class="ps-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                <li class="current"><a href="/blog">Blogs</a></li>
            </ol>
        </div>
    </div>
</div>
<div class="ps-section--page-reverse">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 ">
                <div class="pt-80 pb-80">
                    @if (blogs != null)
                    {
                        @foreach (var blog in blogs)
                        {
                            <div class="ps-blog-listing">
                                <div class="ps-post">
                                    <div class="ps-post__thumbnail">
                                        <a class="ps-post__overlay" href="/blog/detail/@blog.Id"></a>
                                        <img height="450" width="850" src="@blog.ImagePath" alt="">
                                    </div>
                                    <div class="ps-post__header">
                                        <a class="ps-post__title" href="/blog/detail/@blog.Id">@blog.Title</a>
                                        <div class="ps-post__meta"><span><i class="fa fa-calendar-check-o"></i>@blog.Created_At.ToShortDateString()</span><span><i class="fa fa-comment-o"></i>24 Comments</span><span class="tags"><i class="fa fa-tags"></i><a href="blog-listing.html">Travel</a><a href="blog-listing.html">Summer</a><a href="blog-listing.html">Women</a></span></div>
                                    </div>
                                    <div class="ps-post__content">
                                        @Html.Raw(blog.Content)
                                    </div>
                                    <footer class="ps-post__footer">
                                        <a class="ps-btn ps-btn--sm ps-post__morelink" href="/blog/detail/@blog.Id">Read more</a>
                                        <div class="ps-post__action">
                                            <a class="like @((blog.Liked==true?"liked":""))" disabled data-id="@blog.Id" data-like="@blog.LikeCount" href="javascript:void(0)">Like<i class="fa fa-heart"></i><span><i>@blog.LikeCount</i></span></a>
                                            <a class="facebook" href="#"><i class="fa fa-facebook"></i>Share</a>
                                            <a class="twitter" href="#"><i class="fa fa-twitter"></i>Tweet</a>
                                        </div>
                                    </footer>
                                </div>
                            </div>
                        }
                    }

                    @await Component.InvokeAsync("Pager", Model)
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 ">
                <div class="ps-sidebar">
                    <aside class="ps-widget ps-widget--sidebar ps-widget--search">
                        <form method="get" asp-controller="blog" asp-action="index" id="findByKey">
                            <input class="form-control" type="search" name="keyword" id="Keyword" placeholder="Type here bakery name...">
                            <button type="submit"><i class="ps-icon--search"></i></button>
                        </form>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--category">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">Category</h3>
                        </div>
                        <div class="ps-widget__content">
                            <ul class="ps-list--arrow">
                                <li class='@(ViewBag.CategoryUrl=="index"?"current":"")'><a href="/blog/index"><span class="circle"></span>All bakery</a></li>
                                @{
                                    if (categories != null)
                                    {
                                        foreach (var category in categories)
                                        {

                                            <li class='@(ViewBag.CategoryUrl==@category.CategoryUrl?"current":"")'>
                                                <a href="/blog/@category.CategoryUrl">
                                                    <span class="circle"></span>@category.Name@(ViewBag.CategoryUrl == @category.CategoryUrl ? $"({blogs.Count()})" :"" )
                                                </a>
                                            </li>
                                        }
                                    }

                                }
                              
                            </ul>
                        </div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--ads">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">Ads Banner</h3>
                        </div>
                        <div class="ps-widget__content"><img src="/assets/images/widget/banner2x.png" alt=""></div>
                    </aside>
                    <aside class="ps-widget ps-widget--sidebar ps-widget--recent-post">
                        <div class="ps-widget__header">
                            <h3 class="ps-widget__title">Recent Post</h3>
                        </div>
                        <div class="ps-widget__content">
                            @{
                                if (ViewBag.top != null)
                                {
                                    foreach (var blog in ViewBag.top)
                                    {
                                        <div class="ps-post ps-post--sidebar">
                                            <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="/blog/detail/@blog.Id"></a><img src="@blog.ImagePath" alt=""></div>
                                            <div class="ps-post__content"><a href="/blog/detail/@blog.Id" data-number-line="2">@blog.Title</a><span>@blog.Created_At.ToShortDateString()</span></div>
                                        </div>

                                    }
                                }

                            }
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="../Shared/_Partner.cshtml">
    <partial name="../Shared/_Subscribe.cshtml">
        <partial name="../Shared/_Footer.cshtml" />

        @section Scripts{
            @if (ViewBag.UserId != null)
            {
                <script>
                    $(document).ready(function () {
                         $('body').on('click',".like",function (e) {
                            e.preventDefault();
                            var likeCount = $(this).attr("data-like");
                             var id = $(this).attr("data-id");
                            var newLikeCount = (parseInt(likeCount) + 1);
                            var that = this;
                             $.ajax({
                                    type: "post",
                                    url: "https://localhost:5001/api/blogs/like",
                                    data: {
                                        UserId:'@ViewBag.UserId',
                                        BlogId:id
                                    },
                                    dataType: "json",
                                    success: function (res) {
                                        $(that).attr("data-like", newLikeCount);
                                        $(that).children().remove();
                                        $(that).append('<i class="fa fa-heart"></i><span><i>' + newLikeCount + '</i></span>')
                                        $(that).addClass("liked");
                                    }
                                });
                        });
                    });
                </script>
                <script>
                    $(document).ready(function () {
                        $('body').on('click','.like.liked',function (e) {
                            e.preventDefault();
                            var likeCount = $(this).attr("data-like");
                            var id = $(this).attr("data-id");
                            var newLikeCount = (parseInt(likeCount) - 1);
                            var that = this;
                             $.ajax({
                                    type: "post",
                                    url: "https://localhost:5001/api/blogs/dislike",
                                    data: {
                                        UserId:'@ViewBag.UserId',
                                        BlogId:id
                                    },
                                    dataType: "json",
                                    success: function (res) {
                                        $(that).attr("data-like", newLikeCount);
                                        $(that).children().remove();
                                        $(that).append('<i class="fa fa-heart"></i><span><i>' + newLikeCount + '</i></span>')
                                        $(that).removeClass("liked");
                                    }
                                });
                        });
                    });
                </script>
            }

            <script>
                    $(document).ready(function () {
                        $(".AddToCart").click(function (e) {
                            e.preventDefault();
                            var productId = $(this).attr("data-id");
                            $.post("https://localhost:5002/cart/buy",
                                {
                                    Quantity: 1,
                                    ProductID: productId,
                                    CartId : "@ViewBag.CartId"
                                },
                                function (data, status) {
                                    $.get("https://localhost:5002/cart/getcart",
                                        function (data, status) {
                                            $(".ps-cart").replaceWith(data);
                                        });
                                });

                        });
                    });
            </script>
        }
