@model CategoryCreateRequest
@{
    var urlTemplate = Url.Action();
    var categories = (List<CategoryViewModel>)ViewData["categories"];
    var languages = (List<LanguageViewModel>)ViewData["languages"];
    var products = (List<ProductViewModel>)ViewData["products"];
    ViewData["Image-logo"] = "/assets/images/logo-1.png";
}

<div class="ps-banner--home-1">
    <div class="rev_slider_wrapper fullscreen-container" id="revolution-slider-1" data-alias="concept121" data-source="gallery" style="background-color:#000000;padding:0px;">
        <div class="rev_slider fullscreenbanner" id="rev_slider_1059_1" style="display:none;" data-version="5.4.1">
            <ul class="ps-banner">
                <li data-index="rs-2972" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/images/concept4-100x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img class="rev-slidebg" src="/assets/images/banner/img-slider-1.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                    <div class="tp-caption ps-banner__caption" id="layer01" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-80','-120','-120']" data-width="['none','none','none','400']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1700,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]" style="z-index: 7; white-space: nowrap;text-transform:left;">We Implement Sweet Dream</div>
                    <div class="tp-caption ps-banner__description" id="layer02" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]">Carrot cake macaroon topping jelly-o dessert cake. Tiramisu gummies wafer brownie tiramisu cake. <br /> Icing powder candy canes cotton candy pie liquorice.</div><a class="tp-caption ps-btn ps-btn--lg" href="#" id="layer03" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['80','70','70','70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]">TRY OUR CUPCAKES <i class="fa fa-angle-right"></i></a>
                </li>
                <li data-index="rs-2973" data-transition="slidingoverlayhorizontal" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="default" data-thumb="../../assets/images/concept4-100x100.jpg" data-rotate="0" data-saveperformance="off" data-title="Web Show" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                    <img class="rev-slidebg" src="/assets/images/banner/img-slider-2.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" data-no-retina>
                    <div class="tp-caption ps-banner__caption" id="layer04" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['-100','-80','-120','-120']" data-width="['none','none','none','400']" data-whitespace="['nowrap','nowrap','nowrap','normal']" data-type="text" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1700,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]" style="z-index: 7; white-space: nowrap;text-transform:left;">A little bliss in every bite</div>
                    <div class="tp-caption ps-banner__description" id="layer05" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]">Macaroon lollipop gummi bears liquorice sweet. Icing dessert sweet apple pie chocolate cake. Jujubes halvah cupcake cheesecake.</div><a class="tp-caption ps-btn ps-btn--lg" href="#" id="layer06" data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['middle','middle','middle','middle']" data-voffset="['80','70','70','70']" data-type="text" data-responsive_offset="on" data-textAlign="['center','center','center','center']" data-frames="[{&quot;from&quot;:&quot;z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;&quot;,&quot;speed&quot;:1500,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1500,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;x:left(R);&quot;,&quot;ease&quot;:&quot;Power3.easeIn&quot;}]">ORDER NOW <i class="fa fa-angle-right"></i></a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="ps-section pt-80 pb-40">
    <div class="container">
        <div class="ps-countdown">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <img src="/assets/images/counter.png" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <header class="text-center">
                        <div class="ps-section__top">Hot Deal Today</div>
                        <h4>Vanilla cupcake with red sugar flowers</h4>
                        <p>Only: <span> £1.55 </span></p>
                        <ul class="ps-countdown__time" data-time="Dec 30, 2019 15:37:25">
                            <!--li <span class="days"></span><p>Days</p>-->
                            <!--li.divider :-->
                            <li><span class="hours"></span><p>Hours</p></li>
                            <li class="divider">:</li>
                            <li><span class="minutes"></span><p>minutes</p></li>
                            <li class="divider">:</li>
                            <li><span class="seconds"></span><p>Seconds</p></li>
                        </ul><a class="ps-btn" href="#">Order Now<i class="fa fa-angle-right"></i></a>
                    </header>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ps-section ps-section--best-seller pt-40 pb-100">
    <div class="container">
        <div class="ps-section__header text-center mb-50">
            <h4 class="ps-section__top">Sweet Cupcakes</h4>
            <h3 class="ps-section__title ps-section__title--full">BEST SELLER</h3>
        </div>
        <div class="ps-section__content">
            <div class="owl-slider owl-slider--best-seller" data-owl-auto="true" data-owl-loop="true" data-owl-speed="5000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;ps-icon--back&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;ps-icon--next&quot;&gt;&lt;/i&gt;">
                @{
                    if (products != null)
                    {
                        foreach (var product in products)
                        {
                                <div class="ps-product">
                                    <div class="ps-product__thumbnail">
                                        <div class="ps-badge ps-badge--new"><span>New</span></div>
                                        <a class="ps-product__overlay" asp-action="detail" asp-controller="product" asp-route-productId="@product.Id"></a><img height="260" width="260" src="@product.ImagePath" alt="">
                                        <ul class="ps-product__action">
                                            <li><a  href="javascript:void(0)" data-effect="mfp-zoom-out" data-tooltip="View"><i class="ps-icon--search"></i></a></li>
                                            <li><a href="javascript:void(0)" data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>
                                            <li><a href="javascript:void(0)" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>
                                            <li><a href="#" class="AddToCart" data-id="@product.Id" data-tooltip="Add to cart"><i class="ps-icon--shopping-cart"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="ps-product__content">
                                        <a class="ps-product__title" asp-action="detail" asp-controller="product" asp-route-productId="@product.Id">@product.Name</a>
                                        <div class="ps-product__category">
                                            <a class="ps-product__category" href="product-listing.html">cupcake</a>
                                            <a class="ps-product__category" href="product-listing.html">sweet</a>
                                            <a class="ps-product__category" href="product-listing.html">bio</a>
                                        </div>
                                        <select class="ps-rating">
                                            <option value="1">1</option>
                                            <option value="1">2</option>
                                            <option value="1">3</option>
                                            <option value="1">4</option>
                                            <option value="5">5</option>
                                        </select>
                                        <p class="ps-product__price">@string.Format("{0:C}", product.Price)</p>
                                    </div>
                                </div>
                        }
                    }

                }
               
            </div>
        </div>
    </div>
</section>
<div class="ps-section ps-section--home-testimonial pb-30 bg--parallax" data-background="images/parallax/img-bg-1.jpg">
    <div class="container">
        <div class="owl-slider" data-owl-auto="true" data-owl-loop="true" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="true" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">
            <div class="ps-testimonial text-center pt-80 pb-100">
                <div class="ps-testimonial__header">
                    <div class="ps-testimonial__thumbnail"><img src="/assets/images/testimonial/1.jpg" alt=""></div>
                    <select class="ps-rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                    </select>
                    <p>Logan May - CEO & Founder Invision</p>
                </div>
                <div class="ps-testimonial__content">
                    <p>Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.</p>
                </div>
            </div>
            <div class="ps-testimonial text-center pt-80 pb-100">
                <div class="ps-testimonial__header">
                    <div class="ps-testimonial__thumbnail"><img src="/assets/images/testimonial/2.jpg" alt=""></div>
                    <select class="ps-rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                    </select>
                    <p>Logan May - CEO & Founder Invision</p>
                </div>
                <div class="ps-testimonial__content">
                    <p>Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.</p>
                </div>
            </div>
            <div class="ps-testimonial text-center pt-80 pb-100">
                <div class="ps-testimonial__header">
                    <div class="ps-testimonial__thumbnail"><img src="/assets/images/testimonial/3.jpg" alt=""></div>
                    <select class="ps-rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                    </select>
                    <p>Logan May - CEO & Founder Invision</p>
                </div>
                <div class="ps-testimonial__content">
                    <p>Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.</p>
                </div>
            </div>
            <div class="ps-testimonial text-center pt-80 pb-100">
                <div class="ps-testimonial__header">
                    <div class="ps-testimonial__thumbnail"><img src="/assets/images/testimonial/4.jpg" alt=""></div>
                    <select class="ps-rating">
                        <option value="1">1</option>
                        <option value="1">2</option>
                        <option value="1">3</option>
                        <option value="1">4</option>
                        <option value="5">5</option>
                    </select>
                    <p>Logan May - CEO & Founder Invision</p>
                </div>
                <div class="ps-testimonial__content">
                    <p>Dessert pudding dessert jelly beans cupcake sweet caramels gingerbread. Fruitcake biscuit cheesecake. Cookie topping sweet muffin pudding tart bear claw sugar plum croissant.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ps-section ps-section--offer pt-80 pb-40">
    <div class="container">
        <div class="ps-section__header text-center mb-100">
            <h4 class="ps-section__top">Making People Happy</h4>
            <h3 class="ps-section__title ps-section__title--full">OFFER THIS WEEK</h3>
        </div>
        <div class="ps-section__content">
            <div class="masonry-wrapper" data-col-md="4" data-col-sm="2" data-col-xs="1" data-gap="30" data-radio="100%">
                <div class="ps-masonry">
                    <div class="grid-sizer"></div>
                    <div class="grid-item high wide">
                        <div class="grid-item__content-wrapper">
                            <div class="ps-offer"><img src="/assets/images/offer/banner-1.jpg" alt=""><a class="ps-offer__overlay" href="#"></a></div>
                        </div>
                    </div>
                    <div class="grid-item">
                        <div class="grid-item__content-wrapper">
                            <div class="ps-offer"><img src="/assets/images/offer/banner-2.jpg" alt=""><a class="ps-offer__overlay" href="#"></a></div>
                        </div>
                    </div>
                    <div class="grid-item high">
                        <div class="grid-item__content-wrapper">
                            <div class="ps-offer"><img src="/assets/images/offer/banner-3.jpg" alt=""><a class="ps-offer__overlay" href="#"></a></div>
                        </div>
                    </div>
                    <div class="grid-item wide">
                        <div class="grid-item__content-wrapper">
                            <div class="ps-offer"><img src="/assets/images/offer/banner-4.jpg" alt=""><a class="ps-offer__overlay" href="#"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ps-section ps-section--list-product pt-40 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="ps-section__header">
                    <h3 class="ps-section__title ps-section__title--left">HOT CAKE</h3>
                </div>
                <div class="ps-section__content">
                    @{
                        if (categories != null)
                        {
                            for(int i=0;i<=(categories.Count-1)/2; i++)
                            {
                                <div class="ps-product--list">
                                    <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="/product/@categories[i].CategoryUrl"></a><img src="@categories.ElementAt(i).ImagePath" alt=""></div>
                                    <div class="ps-product__content">
                                        <h4 class="ps-product__title"><a href="product-detail.html">@categories.ElementAt(i).Name</a></h4>
                                        <p>Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.</p>

                                        <a class="ps-btn ps-btn--xs" href="/product/@categories[i].CategoryUrl">Go To<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="ps-section__header">
                    <h3 class="ps-section__title ps-section__title--left">New CAKE</h3>
                </div>
                <div class="ps-section__content">
                    @{
                        if (categories != null)
                        {
                            for (int i = (categories.Count - 1) / 2 +1; i < categories.Count; i++)
                            {
                                <div class="ps-product--list">
                                    <div class="ps-product__thumbnail"><a class="ps-product__overlay" href="/product/@categories[i].CategoryUrl"></a><img src="@categories.ElementAt(i).ImagePath" alt=""></div>
                                    <div class="ps-product__content">
                                        <h4 class="ps-product__title"><a href="product-detail.html">@categories.ElementAt(i).Name</a></h4>
                                        <p>Lollipop dessert donut marzipan cookie bonbon sesame snaps chocolate.</p>
                                        <a class="ps-btn ps-btn--xs" href="/product/@categories[i].CategoryUrl">Go To<i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ps-section ps-section--team ps-section--pattern pt-80 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 ">
                <div class="ps-section__header">
                    <h3 class="ps-section__title ps-section__title--left">OUR BAKER</h3>
                    <p>We all have those moments in our lives when we feel as if everything needs to be exactly rigt.</p>
                    <p>Dessert tiramisu tart donut macaroon. Gummi bears lollipop marzipan. Caramels gummi bears icing jelly beans cheesecake brownie topping candy sugaplum.</p>
                    <ul class="ps-list ps-list--dot">
                        <li>Caramels gummi bears</li>
                        <li>Caramels gummi bears</li>
                        <li>Caramels gummi bears</li>
                    </ul><a class="ps-btn ps-section__morelink" href="#">Read more<i class="fa fa-angle-right"></i></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 ">
                <div class="ps-section__content">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <article class="ps-people">
                                <div class="ps-people__thumbnail"><a class="ps-people__overlay" href="#"></a><img src="/assets/images/team/team-1.jpg" alt=""></div>
                                <div class="ps-people__content">
                                    <h4>Christian Gregory</h4><span class="ps-people__position">CEO - Founder</span>
                                    <p>Jelly topping halvah caramels sweet cake gummi bears toffee.</p>
                                    <ul class="ps-people__social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                            <article class="ps-people">
                                <div class="ps-people__thumbnail"><a class="ps-people__overlay" href="#"></a><img src="/assets/images/team/team-2.jpg" alt=""></div>
                                <div class="ps-people__content">
                                    <h4>Christian Gregory</h4><span class="ps-people__position">CEO - Founder</span>
                                    <p>Jelly topping halvah caramels sweet cake gummi bears toffee.</p>
                                    <ul class="ps-people__social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    </ul>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ps-section ps-section--news pt-100 pb-100">
    <div class="container">
        <div class="ps-section__header text-center">
            <h4 class="ps-section__top">Our Story</h4>
            <h3 class="ps-section__title ps-section__title--full">BLOG & NEWS</h3>
        </div>
        <div class="ps-section__content">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-new ps-new--large">
                        <img src="/assets/images/new/new-large.jpg" alt="">
                        <div class="ps-new__container">
                            <header class="ps-new__header">
                                <p>by<a href="#"> Athony</a> / February 12, 2017</p><a class="ps-new__title" href="blog-detail.html">Sweet Bakery by <br> Joni William</a>
                            </header>
                            <div class="ps-new__content">
                                <p data-number-line="2">Fond his say old meet cold find come <br> whom. The sir park sake bred.</p><a class="ps-btn ps-btn--sm" href="blog-detail.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                    <div class="ps-new">
                        <img src="/assets/images/new/new-small-1.jpg" alt="">
                        <div class="ps-new__container">
                            <header class="ps-new__header">
                                <p>by<a href="#"> Athony</a> / February 12, 2017</p><a class="ps-new__title" href="blog-detail.html">Where I Learning Cook Cupcakes ?</a>
                            </header>
                            <div class="ps-new__content">
                                <p data-number-line="2">No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympath</p><a class="ps-btn ps-btn--sm" href="blog-detail.html">Read more</a>
                            </div>
                        </div>
                    </div>
                    <div class="ps-new">
                        <img src="/assets/images/new/new-small-2.jpg" alt="">
                        <div class="ps-new__container">
                            <header class="ps-new__header">
                                <p>by<a href="#"> Athony</a> / February 12, 2017</p><a class="ps-new__title" href="blog-detail.html">Where I Learning Cook Cupcakes ?</a>
                            </header>
                            <div class="ps-new__content">
                                <p data-number-line="2">No comfort do written conduct at prevent manners on. Celebrated contrasted discretion him sympath</p><a class="ps-btn ps-btn--sm" href="blog-detail.html">Read more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<partial name="../Shared/_Partner.cshtml">
    <partial name="../Shared/_Subscribe.cshtml">
        <partial name="../Shared/_Footer.cshtml">

            @section Scripts{
                        <script src="~/assets/js/notify.min.js"></script>
                <script>
                    $(document).ready(function () {
                        
                        $(".AddToCart").click(function (e) {
                            e.preventDefault();
                            var productId = $(this).attr("data-id");
                            $.post("https://localhost:5002/cart/buy",
                                {
                                    Quantity: 1,
                                    ProductID: productId,
                                    CartId : "@ViewBag.CartId"
                                },
                                function (data, status) {
                                    $.get("https://localhost:5002/cart/getcart",
                                        function (data, status) {
                                            $(".ps-cart").replaceWith(data);
                                            $.notify("Added to cart","success");
                                        });
                                });

                        });
                    });
                </script>
            }
