@model ProductViewModel;
@{
    ViewData["Header"] = "header--2";
    ViewData["Image-logo"] = "/assets/images/logo-2.png";
}
<div class="ps-section--hero">
    <img src="/assets/images/hero/02.jpg" alt="">
    <div class="ps-section__content text-center">
        <h3 class="ps-section__title">OUR BAKERY</h3>
        <div class="ps-breadcrumb">
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="product-grid.html">Shop</a></li>
                <li class="active">Anytime Cakes</li>
            </ol>
        </div>
    </div>
</div>
<div class="ps-section pt-80 pb-80">
    <div class="container">
        <div class="ps-product--detail">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <div class="ps-product__thumbnail">
                        <div class="ps-badge"><span>50%</span></div>
                        <div class="owl-slider primary" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="0" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="1" data-owl-item-xs="1" data-owl-item-sm="1" data-owl-item-md="1" data-owl-item-lg="1" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">
                            @{
                                if (ViewBag.ListImage != null)
                                {
                                    foreach (var image in ViewBag.ListImage)
                                    {
                                        <div class="ps-product__image"><a href="@image.ImagePath"><img src="@image.ImagePath" alt=""></a></div>
                                        }
                                    }
                                }
                        </div>
                        <div class="owl-slider second mb-30" data-owl-auto="true" data-owl-loop="false" data-owl-speed="10000" data-owl-gap="20" data-owl-nav="false" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="2" data-owl-item-sm="3" data-owl-item-md="4" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;fa fa-angle-left&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;fa fa-angle-right&quot;&gt;&lt;/i&gt;">
                            @{
                                if (ViewBag.ListImage != null)
                                {
                                    foreach (var image in ViewBag.ListImage)
                                    {
                                        <img src="@image.ImagePath" alt="" />
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 ">
                    <header>
                        <h3 class="ps-product__name">@Model.Name</h3>
                        <select class="ps-rating">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                            <option value="5">5</option>
                        </select>
                        <p class="ps-product__price" data-price="@Model.Price">@Model.Price</p>
                        
                    <div class="ps-product__description">
                        @Html.Raw(Model.Description)
                    </div>
                        <div class="ps-product__meta">
                            <p><span> Availability: </span> In stock</p>
                        </div>
                        <div class="ps-product__shop">
                            <div class="form-group--number">
                                <button class="minus"><span>-</span></button>
                                <input class="form-control quantity" type="number" min="0" value="1">
                                <button class="plus"><span>+</span></button>
                            </div>
                            <ul class="ps-product__action">
                                <li><a href="#" data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>
                                <li><a href="#" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>
                            </ul>
                        </div>
                    </header>
                    <footer>
                        <div class="row">
                            <div class="col-lg-6 col-md-5 col-sm-6 col-xs-12 ">
                                <form asp-action="Buy" id="formOrder" asp-controller="Cart" method="post">
                                    <input type="hidden" name="ProductId" value="@Model.Id" />
                                    <input type="hidden" name="PriceChange" class="PriceChange" value="" />
                                    <input type="hidden" name="CartId" value="@ViewBag.CartId" />
                                    <input type="hidden" class="inputQuantity" name="Quantity" value="" />
                                    <button class="ps-btn--fullwidth ps-btn" type="submit">Order Now<i class="fa fa-angle-right"></i></button>
                                </form>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
            <div class="ps-product__info">
                <ul class="tab-list" role="tablist">
                    <li class="active"><a href="#tab_02" aria-controls="tab_02" role="tab" data-toggle="tab">Review</a></li>
                    <li><a href="#tab_04" aria-controls="tab_04" role="tab" data-toggle="tab">ADDITIONAL</a></li>
                </ul>
            </div>
            <div class="tab-content mb-60">
                <div class="tab-pane active" role="tabpanel" id="tab_02">
                    @{
                        if (ViewBag.ListReview != null)
                        {
                            foreach (var review in ViewBag.ListReview)
                            {
                                var imagePath = (review.ImagePath ?? "https://localhost:5001/user-content/user-not-found.png");
                                <div class="ps-review-box">
                                    <div class="ps-review-box__thumbnail"><img src="@imagePath" alt=""></div>
                                    <div class="ps-review-box__content">
                                        <header>
                                            <select class="ps-rating">
                                                @for (int i = 1; i <= 5; i++)
                                                {
                                                    if (i <= review.Rating)
                                                    {
                                                        <option value="1">@i</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@i">@i</option>
                                                    }
                                                }
                                            </select>
                                            <p>By<a href="#"> @review.Name</a> - @review.Created_At.ToShortDateString()</p>
                                        </header>
                                        <p>@review.Content</p>
                                    </div>
                                </div>
                            }
                        }

                    }

                    <form class="ps-product__review" asp-controller="product" asp-action="createReview" method="post">
                        <h4>ADD YOUR REVIEW</h4>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                                <input type="hidden" name="ProductId" value="@Model.Id" />
                                <div class="form-group">
                                    <label>Name:<span>*</span></label>
                                    <input name="Name" class="form-control" type="text" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Email:<span>*</span></label>
                                    <input name="Email" class="form-control" type="email" placeholder="">
                                </div>
                                <div class="form-group">
                                    <label>Your rating<span></span></label>
                                    <select class="ps-rating" name="Rating">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12 ">
                                <div class="form-group">
                                    <label>Your Review:</label>
                                    <textarea class="form-control" name="Content" rows="6"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="ps-btn ps-btn--sm">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="tab-pane" role="tabpanel" id="tab_04">
                    <div class="form-group">
                        <textarea class="form-control" rows="6" placeholder="Enter your addition here..."></textarea>
                    </div>
                    <div class="form-group">
                        <button class="ps-btn" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="ps-section ps-section--best-seller pt-40 pb-100">
    <div class="container">
        <div class="ps-section__header text-center mb-50">
            <h4 class="ps-section__top">Sweet Cupcakes</h4>
            <h3 class="ps-section__title ps-section__title--full">BEST SELLER</h3>
        </div>
        <div class="ps-section__content">
            <div class="owl-slider owl-slider--best-seller" data-owl-auto="true" data-owl-loop="true" data-owl-speed="100000" data-owl-gap="30" data-owl-nav="true" data-owl-dots="false" data-owl-animate-in="" data-owl-animate-out="" data-owl-item="4" data-owl-item-xs="1" data-owl-item-sm="2" data-owl-item-md="3" data-owl-item-lg="4" data-owl-nav-left="&lt;i class=&quot;ps-icon--back&quot;&gt;&lt;/i&gt;" data-owl-nav-right="&lt;i class=&quot;ps-icon--next&quot;&gt;&lt;/i&gt;">
                @{
                    if (ViewBag.top != null)
                    {
                        foreach (var product in ViewBag.top)
                        {
                            <div class="ps-product">
                                <div class="ps-product__thumbnail">
                                    <div class="ps-badge ps-badge--new"><span>New</span></div>
                                    <a class="ps-product__overlay" asp-action="detail" asp-controller="product" asp-route-productId="@product.Id"></a><img height="260" width="260" src="@product.ImagePath" alt="">
                                    <ul class="ps-product__action">
                                        <li><a class="popup-modal" href="#quickview-modal" data-effect="mfp-zoom-out" data-tooltip="View"><i class="ps-icon--search"></i></a></li>
                                        <li><a href="#" data-tooltip="Add to wishlist"><i class="ps-icon--heart"></i></a></li>
                                        <li><a href="#" data-tooltip="Compare"><i class="ps-icon--reload"></i></a></li>
                                        <li><a href="#" class="AddToCart" data-id="@product.Id" data-tooltip="Add to cart"><i class="ps-icon--shopping-cart"></i></a></li>
                                    </ul>
                                </div>
                                <div class="ps-product__content">
                                    <a class="ps-product__title" asp-action="detail" asp-controller="product" asp-route-productId="@product.Id">@product.Name</a>
                                    <div class="ps-product__category">
                                        <a class="ps-product__category" href="product-listing.html">cupcake</a>
                                        <a class="ps-product__category" href="product-listing.html">sweet</a>
                                        <a class="ps-product__category" href="product-listing.html">bio</a>
                                    </div>
                                    <select class="ps-rating">
                                        <option value="1">1</option>
                                        <option value="1">2</option>
                                        <option value="1">3</option>
                                        <option value="1">4</option>
                                        <option value="5">5</option>
                                    </select>
                                    <p class="ps-product__price">@product.Price VNĐ</p>
                                </div>
                            </div>
                        }
                    }

                }
            </div>
        </div>
    </div>
</section>
<partial name="../Shared/_Partner.cshtml">
    <partial name="../Shared/_Subscribe.cshtml">
        <partial name="../Shared/_Footer.cshtml" />

        @section Scripts{
                <script>
                    $(document).ready(function () {
                        $(".plus").click(function (e) {
                            e.preventDefault();
                            var quantity = $(this).prev().val();
                            var newValue = parseInt(quantity) + 1;
                            var price = parseInt($(this).parent().parent().prev().prev().prev().attr("data-price"));
                            $('.ps-product__price').html(price * newValue);
                            $(this).prev().val(newValue);
                        });
                        $(".minus").click(function (e) {
                            e.preventDefault();
                            var quantity = $(this).next().val();
                            var newValue = (parseInt(quantity) - 1 >= 0) ? (parseInt(quantity) - 1) : 0;
                            var price = parseInt($(this).parent().parent().prev().prev().prev().attr("data-price"));
                            $('.ps-product__price').html(price * newValue);
                            $(this).next().val(newValue);
                        });
                        function updateCart() {
                            $.get("https://localhost:5002/cart/getcart",
                                function (data, status) {
                                    $(".ps-cart").replaceWith(data);
                                });
                        }
                        $(".quantity").on("input", function () {
                            // Print entered value in a div box
                            var newValue = parseInt($(this).val());
                            var price = parseInt($(this).parent().parent().prev().prev().prev().attr("data-price"));
                            var newPrice = price * newValue
                            if (isNaN(newPrice)) {
                                newPrice = 0;
                            }
                            $('.ps-product__price').html(newPrice);
                        });
                        $("#formOrder").submit(function (e) {
                            var quantity = parseInt($('.quantity').val());
                            var price = parseInt($('.ps-product__price').val());
                            $('.inputQuantity').val(quantity);
                            $('.PriceChange').val(price);
                        });
                    });
                </script>
        }
