@{
    var result = ViewBag.result;
    var type = (ViewBag.isSuccess == true) ? "success" : "error";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/assets/favicon.png" rel="icon">
    <meta name="author" content="#{author}">
    <meta name="keywords" content="#{keyword}">
    <meta name="description" content="#{description}">
    <meta name="referrer" content="no-referrer" />
    <title>Bakery</title>
    <!-- Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700%7CPacifico%7CVarela+Round%7CPoppins" rel="stylesheet">
    <link rel="stylesheet" href="/assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="/assets/plugins/ps-icon/ps-icon.css">
    <!-- CSS Library-->
    <link rel="stylesheet" href="/assets/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/assets/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="/assets/plugins/Magnific-Popup/dist/magnific-popup.css">
    <link rel="stylesheet" href="/assets/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/assets/plugins/bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/assets/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="/assets/plugins/lightGallery-master/dist/css/lightgallery.min.css">
    <link rel="stylesheet" href="/assets/plugins/revolution/css/settings.css">
    <link rel="stylesheet" href="/assets/plugins/revolution/css/layers.css">
    <link rel="stylesheet" href="/assets/plugins/revolution/css/navigation.css">

    <!-- Custom-->
    <link rel="stylesheet" href="/assets/css/style.css">
    @RenderSection("Header", required: false)
</head>
<body class="page-init">
    <!-- Search-->
    <div class="ps-searchbox">
        <div class="ps-searchbox__remove"><i class="fa fa-remove"></i></div>
        <div class="container">
            <header>
                <p>Enter your keywords:</p>
                <form method="get" action="/product/index" id="findByKey">
                    <input class="form-control" type="search" name="Name" id="Keyword" placeholder="Type here bakery name...">
                    <button type="submit"><i class="ps-icon--search"></i></button>
                </form>
            </header>
            <footer class="text-center"><a class="ps-searchbox__morelink" href="/product">VIEW ALL RESULT</a></footer>
        </div>
    </div>


    <div class="header--sidebar"></div>

    <!-- Header-->
    <header class="header @ViewData["Header"]" data-responsive="1199">
        <partial name="_Header_top.cshtml">
            <partial name="_Navigation.cshtml">
    </header>


    <div id="back2top"><i class="fa fa-angle-up"></i></div>


    <div class="loader"></div>

    <!-- content-->
    <div class="page-wrap">
        @RenderBody()
    </div>
    
    <!-- JS Library-->
    <script type="text/javascript" src="/assets/plugins/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/overflow-text.js"></script>
    <script type="text/javascript" src="/assets/plugins/masonry.pkgd.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/imagesloaded.pkgd.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-bar-rating/dist/jquery.barrating.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-nice-select/js/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/Magnific-Popup/dist/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/moment.js"></script>
    <script type="text/javascript" src="/assets/plugins/bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/slick/slick/slick.min.js"></script>
    @*<script type="text/javascript" src="/assets/plugins/gmap3.min.js"></script>*@
    <script type="text/javascript" src="/assets/plugins/lightGallery-master/dist/js/lightgallery-all.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB458d7lg9ttCaCfXKPEf-LBAebMMw5RaU&amp;region=GB"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <!-- Revolution - slider-->
    <script type="text/javascript" src="/assets/plugins/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/revolution/js/extensions/revolution.extension.actions.min.js"></script>
    <!-- Custom scripts-->
    <script type="text/javascript" src="/assets/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    @if (result != null)
    {
        <script>
            $(document).ready(function () {
                var notifination = '@result';
                const Toast = Swal.mixin({
                toast: true,
                        position: 'top-end',
                        showConfirmButton: false,
                        timer: 3000,

                    });
                Toast.fire({
                type: '@type',
                        title: notifination,
                        });
            });
        </script>
    }
    <script>
        $(document).ready(function () {
            $('body').on('click', '.ps-cart-item__close', function (e) {
                e.preventDefault();
                var formatter = new Intl.NumberFormat('en-US', {
                    style: 'currency',
                    currency: 'USD',
                });
                var productId = $(this).attr("data-id");
                var quantity = parseInt($(this).next().next().children().eq(1).children().eq(0).children().html());
                var totalPrice = parseInt($(this).next().next().children().eq(1).children().eq(1).children().attr("data-price"));
                var $numberItems = $(this).parent().parent().next().children().eq(0).children();
                var numberItems = parseInt($numberItems.html());
                var that = this;
                var $priceAll = $(this).parent().parent().next().children().eq(1).children();
                var priceAll = parseInt($priceAll.attr("data-price"));
                $.post("https://localhost:5002/cart/delete",
                    {
                        productId: productId,
                        cartId: "@ViewBag.CartId"
                    },
                    function (data, status) {
                        $numberItems.html(numberItems - quantity);
                        $priceAll.html(formatter.format(priceAll - totalPrice));
                        $priceAll.attr("data-price", priceAll - totalPrice)
                        $(that).parent().parent().parent().parent().prev().children().eq(0).children().html(numberItems - quantity);
                        $(that).parent().remove();
                    });

            });
        });
</script>

    @RenderSection("Scripts", required: false)
</body>
</html>